* {
    box-sizing: border-box;
}

ol{
   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

li{
    padding: 16px 20px;
    margin-left: 16px;
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}

.blue {
    
    color: blue;
}
.a {
    
    border-bottom: 1px solid blue;
}
